[phases.setup]
cmds = [
  "corepack enable",
  "corepack prepare yarn@4.6.0 --activate"
]

[phases.install]
cmds = ["yarn install --immutable"]

[phases.build]
cmds = ["yarn build"]

[start]
cmd = "yarn start"
